<script defer src="/js/adventure.client.js"></script>

<div class="adventure-container">
  <div class="adventure-card-value">
    <input type="text" id="coordinatesStorage" hidden value="{{adventure.coordinates}}">
    <h1 class="display-3">{{adventure.title}}</h1>
    <p class="lead">{{adventure.category}}</p>
    <br>
    <p>{{adventure.description}}</p>
    <br>
    {{#each routePlanItems}}
      {{!-- <p>{{this.[0]}}</p> --}}
      <div class="vl">  </div>
      <p class="fs-2 routePlanItemTitle">{{this.[0]}}</p>
      <p class="routePlanItemDescription">{{this.[1]}}</p>
    {{/each}}
    <br>
    {{#if owner}}
      <div class="row mb-3">
        <div class="form-floating col-sm-9 ">
          <a type="button" href="/category/owner/{{adventure.id}}" data-adventure="{{adventure.id}}" class="btn btn-outline-primary" role="button">Редактировать маршрут </a>
          <sup style="color: red;">NEW!</sup>
        </div>
      </div>
    {{/if}}
  </div>
  {{!-- Карта в отображении путешествия --}}
  {{#if adventure.coordinates}}
  <div class="map form-map adventure-card-map"></div>
  {{/if}}
</div>
