<div class="container cards-container">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    {{#each adventures}}
      <div class="col">
        <div class="card h-100">
          {{!-- <img src="..." class="card-img-top" alt="..."> --}}
          {{#if this.photos}}
          {{else}}
          <div  class="card-img-top" >
            <img src="/img/icons/{{this.category}}.png" alt="{{this.category}}">
          </div>
          {{/if}}
          <div class="card-body">
            <a href="category/card/{{this.id}}" class="link-block" data-id="{{this.id}}">
            </a>
            <h5 class="card-title">{{this.title}}</h5>
            <p class="card-text">{{this.description}}</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Категория: {{this.category}}</small>
            <div class="delete-btn">
              <a href="#">
                <svg xmlns="http://www.w3.org/2000/svg" data-id="delete-btn" data-entryid="{{this.id}}" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                  <path data-id="delete-btn" data-entryid="{{this.id}}" d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                  <path data-id="delete-btn" data-entryid="{{this.id}}" fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>

{{!-- Delete edventure modal --}}
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Вы уверены, что хотите удалить это приключение?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
          <button id="adventure-delete" type="button" data-id="adventure-delete" class="btn btn-primary">Удалить</button>
          <button id="delete-btn-hidden" class="btn btn-primary" type="button" hidden disabled>
            <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
            Loading...
          </button>
        </div>
    </div>
  </div>
</div>
