<script defer src="/js/profile.client.js"></script>

<main class="profile-main">
  <nav class="profile-nav">
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Карточка путешественника</button>
      <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Мои приключения <sup style="color: red;">СКОРО!</sup></button>
      <button class="nav-link" id="nav-plans-tab" data-bs-toggle="tab" data-bs-target="#nav-plans" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Мои планы <sup style="color: red;">СКОРО!</sup></button>
      <button class="nav-link" data-id="nav-create" id="nav-create-tab" data-bs-toggle="tab" data-bs-target="#nav-create" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Создать приключение</button>
      <button class="nav-link" data-id="nav-created" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Созданные приключения</button>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
      <div class="container profile-container">
        {{!-- <p class="dev-label">СКОРО!</p> --}}
        {{!-- <img src="" alt="" class="img-thumbnail"> --}}
        {{#each user}}
        <div class="avatar-container">
          {{#if this.avatar}}
          <img id="userAvatar" src="/img/avatar/{{this.avatar}}" alt="avatar" class="img-thumbnail avatar">
          <div class="middle">
            <button id="avatar-edit-button" class="text btn btn-primary">Сменить аватар</button>
          </div>
          {{else}}
          <img id="userAvatar" src="/img/avatar/default.png" alt="avatar" class="img-thumbnail avatar">
          <div class="middle">
            <button id="avatar-edit-button" class="text btn btn-primary">Сменить аватар</button>
          </div>
          {{/if}}
        </div>
        <p class="h2">{{this.name}} {{this.lastName}}</p>
        <p class="lead"> {{this.username}}</p>
        <p>E-mail: {{this.email}}</p>
        {{#if this.city}}
        <p>Город: {{this.city}}</p>
        {{else}}
        <p>Город: не указан</p>
        {{/if}}
        {{/each}}
      </div>
    {{!-- Modal window for avatar editing --}}
    <div class="modal fade" id="avatarModal" tabindex="-1" aria-labelledby="avatarModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="avatarModalLabel">Загрузите новый аватар</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form action="" method="post">
            <div class="modal-body">
                <div class="mb-3">
                  <input class="form-control" type="file" id="avatarFile" name="avatarFile" required>
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
              <button id="avatar-upload" type="button" data-id="avatar-upload" class="btn btn-primary">Загрузить</button>
              <button id="btn-hidden" class="btn btn-primary" type="button" hidden disabled>
                <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                Loading...
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    </div>
    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
      <div class="container profile-container success">
        <div class="created">
          <h1>Раздел находится в разработке</h1>
          <p class="lead">Гномы-строители еще не завершили эту локацию, но вы всегда можете зайти попозже :)</p>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="nav-plans" role="tabpanel" aria-labelledby="nav-plans-tab">
      <div class="container profile-container success">
        <div class="created">
          <h1>Раздел находится в разработке</h1>
          <p class="lead">Гномы-строители еще не завершили эту локацию, но вы всегда можете зайти попозже :)</p>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="nav-create" role="tabpanel" aria-labelledby="nav-create-tab">
      Создать приключение
    </div>
    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
      Созданные приключения
    </div>
  </div>
</main>
